.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 3rem;
}

.logo {
  text-decoration: overline;
  text-decoration-thickness: 0.25rem;
  color: rgb(0, 133, 120);
}
